%max-w {
	max-width: $m;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-smooth: always;
}
img {
	max-width: 100%;
	height: auto;
}
ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
html,
body {
	cursor: default;
	font: 400 $b-font-size $f-regular;
	height: 100%;
}
.wrapper {
    height: 100%;
    height: auto !important;
    margin-bottom: -$footer-height;
    min-height: 100%;
}
.main {
	padding: 0 0 $footer-height 0;
}