/* BREAKPOINTS
** --------------------------------------------------------------------------------- */
$breakpoints: (
	xxs: 480px,
	xs: 640px,
	s: 800px,
	m: 1280px,
 	l: 1366px,
	xl: 1920px
);


/* FONTS
** --------------------------------------------------------------------------------- */
$f-regular: Open Sans, Arial, sans-serif;


/* COLORS
** --------------------------------------------------------------------------------- */
$c-header: #363636;
$c-header-bg: #fff;
$c-footer-bg: #fff;


/* TRANSITIONS
** --------------------------------------------------------------------------------- */
$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;


/* BASE
** --------------------------------------------------------------------------------- */
$b-font-size: 16px;


/* HEADER
** --------------------------------------------------------------------------------- */
$header-height: 80px;
$nav-height: 20px;
$nav-font-size: 0.875rem;


/* FOOTER
** --------------------------------------------------------------------------------- */
$footer-height: 80px;