/* BREAKPOINTS
** --------------------------------------------------------------------------------- */
$xxs: 480px;
$xs: 640px;
$s: 800px;
$m: 1280px;
$l: 1366px;
$xl: 1920px;
$breakpoints: (
	xxs: $xxs,
	xs: $xs,
	s: $s,
	m: $m,
 	l: $l,
	xl: $xl
);


/* FONTS
** --------------------------------------------------------------------------------- */
$f-regular: Open Sans, Arial, sans-serif;


/* COLORS
** --------------------------------------------------------------------------------- */
$c-base: #363636;
$c-header-bg: #FFF;
$c-nav-link: #363636;
$c-nav-link-hover: #008CBB;
$c-footer: #7F7F7F;
$c-footer-headline: #B6B6B6;
$c-footer-bg: #F6F6F6;


/* TRANSITIONS
** --------------------------------------------------------------------------------- */
$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;


/* BASE
** --------------------------------------------------------------------------------- */
$b-font-size: 16px;


/* HEADER
** --------------------------------------------------------------------------------- */
$header-height: 80px;
$nav-height: 20px;
$nav-font-size: 0.875rem;


/* FOOTER
** --------------------------------------------------------------------------------- */
$footer-height: 220px;
$footer-height-s: 180px;