<!doctype html>
<html lang="en">
<head>
	{{> head }}
</head>
<body data-module-init="animation">
	<div class="wrapper">
		<main class="main">
			{{> header }}
			{{> body }}
		</main>
	</div>
	{{> footer }}
</body>
</html>